* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #FEF3E2;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 800px;
    background-color: #BEC6A0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    align-items: center;
    border-bottom: 2px solid #FEF3E2;
    padding-bottom: 20px;
}

.profile-pic {
    width: 120px;
    height: 150px;
    object-fit: cover;
}

header h1 {
    font-size: 62px;
    color: #173B45;
    margin-left: 150px;

}

header h2 {
    font-size: 31px;
    color: #606676;
    margin-top: 10px;
    margin-left: 150px;
}

main{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
}

aside{
    border-right: 2px solid #FEF3E2;
    padding-right: 20px;
}

.contact ul, .skills ul{
    list-style-type: none;
}


.contact ul li, .skills ul li {
    background-color: #FEF3E2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contact i{
    margin: 5px;
    font-size: 10px;

}

.skills ul li:hover {
    background-color: #E8D5B3;
}

section h3 {
    font-size: 20px;
    color: #173B45;
    margin-bottom: 10px;
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

.job ul, .education-item {
    margin-top: 10px;
}

.job ul li {
    margin-bottom: 10px;
}

h4{
        color: #173B45;
}
